{% extends 'base.html.twig' %}

{% block body %}
    <h1>Machine</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ machine.id }}</td>
            </tr>
            <tr>
                <th>Identifier</th>
                <td>{{ machine.identifier }}</td>
            </tr>
            <tr>
                <th>Imageurl</th>
                <td>{{ machine.imageUrl }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('machine_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('machine_edit', { 'id': machine.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
